<div class="color-item" [style.backgroundColor]="'#171717'"></div>
<div class="color-item" [style.backgroundColor]="'#042940'"></div>
<div class="color-item" [style.backgroundColor]="'#DBF227'"></div>
<div class="color-item" [style.backgroundColor]="'#FF4858'"></div>
<div class="color-item" [style.backgroundColor]="'#103778'"></div>
<div class="color-item" [style.backgroundColor]="'#FF6CCD'"></div>
<div class="color-item" [style.backgroundColor]="'#B3C8F2'"></div>
<div class="color-item" [style.backgroundColor]="'#ED6BA8'"></div>
<div class="color-item" [style.backgroundColor]="'#F9ECE8'"></div>
<div class="color-item" [style.backgroundColor]="'#D959D0'"></div>
